<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <p-toast></p-toast>
    <div class="flex flex-column align-items-center justify-content-center">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.png"
                        alt="Sakai logo" class=" w-6rem flex-shrink-0" alt="Image" width="80px">
                    <div class="text-900 text-3xl font-medium mb-3">Chào mừng, thành viên của TechStore</div>
                    <span class="text-600 font-medium">Đăng nhập để tiếp tục</span>
                </div>

                <div>
                    <div class="field mb-3">
                        <label for="email1" class="block text-900 text-xl font-medium mb-2">UserName</label>
                        <input id="email1" type="text" [(ngModel)]="account.userName" placeholder="UserName" pInputText
                            class="w-full md:w-30rem mb-5" style="padding:1rem">
                    </div>
                    <div class="field mb-3">
                        <label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label>
                        <p-password id="password1" [(ngModel)]="account.passWord" placeholder="Password"
                            [toggleMask]="true" [feedback]="false" styleClass="mb-5"
                            inputStyleClass="w-full p-3 md:w-30rem"></p-password>
                    </div>

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Nhớ</label>
                        </div>
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                            style="color: var(--primary-color)">Quên mật khẩu?</a>
                    </div>
                    <button pButton pRipple label="Đăng nhập" class="w-full p-3 text-xl" (click)="onSubmit()"></button>
                </div>
            </div>
        </div>
    </div>
</div>