<div class="footer">
    <!-- Begin Footer Static Top Area -->
    <div class="footer-static-top">
        <div class="container">
            <!-- Begin Footer Shipping Area -->
            <div class="footer-shipping pt-60 pb-25">
                <div class="row">
                    <!-- Begin Li's Shipping Inner Box Area -->
                    <div class="col-lg-3 col-md-6 col-sm-6 pb-sm-55 pb-xs-55">
                        <div class="li-shipping-inner-box">
                            <div class="shipping-icon">
                                <img
                                    src="./assets/Client/styles/images/shipping-icon/1.png"
                                    alt="Shipping Icon"
                                />
                            </div>
                            <div class="shipping-text">
                                <h2>Giao hàng miễn phí</h2>
                                <p>
                                    Và trả lại miễn phí. Xem thanh toán để biết
                                    ngày giao hàng.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Li's Shipping Inner Box Area End Here -->
                    <!-- Begin Li's Shipping Inner Box Area -->
                    <div class="col-lg-3 col-md-6 col-sm-6 pb-sm-55 pb-xs-55">
                        <div class="li-shipping-inner-box">
                            <div class="shipping-icon">
                                <img
                                    src="./assets/Client/styles/images/shipping-icon/2.png"
                                    alt="Shipping Icon"
                                />
                            </div>
                            <div class="shipping-text">
                                <h2>Thanh toán an toàn</h2>
                                <p>
                                    Thanh toán bằng các phương thức thanh toán
                                    an toàn và phổ biến nhất thế giới.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Li's Shipping Inner Box Area End Here -->
                    <!-- Begin Li's Shipping Inner Box Area -->
                    <div class="col-lg-3 col-md-6 col-sm-6 pb-xs-30">
                        <div class="li-shipping-inner-box">
                            <div class="shipping-icon">
                                <img
                                    src="./assets/Client/styles/images/shipping-icon/3.png"
                                    alt="Shipping Icon"
                                />
                            </div>
                            <div class="shipping-text">
                                <h2>Mua sắm với sự tự tin</h2>
                                <p>
                                    Bảo vệ người mua của chúng tôi bao gồm việc
                                    mua hàng của bạn từ nhấp chuột đến giao
                                    hàng.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Li's Shipping Inner Box Area End Here -->
                    <!-- Begin Li's Shipping Inner Box Area -->
                    <div class="col-lg-3 col-md-6 col-sm-6 pb-xs-30">
                        <div class="li-shipping-inner-box">
                            <div class="shipping-icon">
                                <img
                                    src="./assets/Client/styles/images/shipping-icon/4.png"
                                    alt="Shipping Icon"
                                />
                            </div>
                            <div class="shipping-text">
                                <h2>Trung tâm trợ giúp 24/7</h2>
                                <p>
                                    Có một câu hỏi? Gọi cho Chuyên gia hoặc trò
                                    chuyện trực tuyến.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Li's Shipping Inner Box Area End Here -->
                </div>
            </div>
            <!-- Footer Shipping Area End Here -->
        </div>
    </div>
    <!-- Footer Static Top Area End Here -->
    <!-- Begin Footer Static Middle Area -->
    <div class="footer-static-middle">
        <div class="container">
            <div class="footer-logo-wrap pt-50 pb-35">
                <div class="row">
                    <!-- Begin Footer Logo Area -->
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-logo">
                            <img
                                src="assets/Client/logo/logo-darks-lg.png"
                                alt="Footer Logo"
                            />
                            <p class="info">
                                We are a team of designers and developers that
                                create high quality HTML Template & Woocommerce,
                                Shopify Theme.
                            </p>
                        </div>
                        <ul class="des">
                            <li>
                                <span>Address: </span>
                                6688Princess Road, London, Greater London BAS
                                23JK, UK
                            </li>
                            <li>
                                <span>Phone: </span>
                                <a href="#">(+123) 123 321 345</a>
                            </li>
                            <li>
                                <span>Email: </span>
                                <a href="mailto://info@yourdomain.com"
                                    >info@yourdomain.com</a
                                >
                            </li>
                        </ul>
                    </div>
                    <!-- Footer Logo Area End Here -->
                    <!-- Begin Footer Block Area -->
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="footer-block">
                            <h3 class="footer-block-title">Product</h3>
                            <ul>
                                <li><a href="#">Prices drop</a></li>
                                <li><a href="#">New products</a></li>
                                <li><a href="#">Best sales</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Block Area End Here -->
                    <!-- Begin Footer Block Area -->
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="footer-block">
                            <h3 class="footer-block-title">Our company</h3>
                            <ul>
                                <li><a href="#">Delivery</a></li>
                                <li><a href="#">Legal Notice</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Block Area End Here -->
                    <!-- Begin Footer Block Area -->
                    <div class="col-lg-4">
                        <div class="footer-block">
                            <h3 class="footer-block-title">Follow Us</h3>
                            <ul class="social-link">
                                <li class="twitter">
                                    <a
                                        href="https://twitter.com/"
                                        data-toggle="tooltip"
                                        target="_blank"
                                        title="Twitter"
                                    >
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="rss">
                                    <a
                                        href="https://rss.com/"
                                        data-toggle="tooltip"
                                        target="_blank"
                                        title="RSS"
                                    >
                                        <i class="fa fa-rss"></i>
                                    </a>
                                </li>
                                <li class="google-plus">
                                    <a
                                        href="https://www.plus.google.com/discover"
                                        data-toggle="tooltip"
                                        target="_blank"
                                        title="Google +"
                                    >
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li class="facebook">
                                    <a
                                        href="https://www.facebook.com/"
                                        data-toggle="tooltip"
                                        target="_blank"
                                        title="Facebook"
                                    >
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="youtube">
                                    <a
                                        href="https://www.youtube.com/"
                                        data-toggle="tooltip"
                                        target="_blank"
                                        title="Youtube"
                                    >
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li class="instagram">
                                    <a
                                        href="https://www.instagram.com/"
                                        data-toggle="tooltip"
                                        target="_blank"
                                        title="Instagram"
                                    >
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Begin Footer Newsletter Area -->
                        <div class="footer-newsletter">
                            <h4>Sign up to newsletter</h4>
                            <form
                                action="#"
                                method="post"
                                id="mc-embedded-subscribe-form"
                                name="mc-embedded-subscribe-form"
                                class="footer-subscribe-form validate"
                                target="_blank"
                                novalidate
                            >
                                <div id="mc_embed_signup_scroll">
                                    <div
                                        id="mc-form"
                                        class="mc-form subscribe-form form-group"
                                    >
                                        <input
                                            id="mc-email"
                                            type="email"
                                            autocomplete="off"
                                            placeholder="Enter your email"
                                        />
                                        <button class="btn" id="mc-submit">
                                            Subscribe
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Footer Newsletter Area End Here -->
                    </div>
                    <!-- Footer Block Area End Here -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Static Middle Area End Here -->
    <!-- Begin Footer Static Bottom Area -->
    <div class="footer-static-bottom pt-55 pb-55">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright text-center">
                        <a href="#">
                            <img
                                src="./assets/Client/styles/images/payment/1.png"
                                alt=""
                            />
                        </a>
                    </div>
                    <div class="copyright text-center pt-25">
                        <span><a target="_blank">TechStore</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Static Bottom Area End Here -->
</div>
