<div class="breadcrumb-area">
    <p-toast></p-toast>
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li class="active">Thanh toán</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Checkout Area Strat-->
<div class="checkout-area pt-60 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <form action="#">
                    <div class="checkbox-form">
                        <h3>Chi tiết thanh toán</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label for="firstName">Họ đệm <span class="required">*</span></label>
                                    <input name="firstName" [(ngModel)]="khachhang.firstName" placeholder=""
                                        type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label for="lastName">Tên <span class="required">*</span></label>
                                    <input name="lastName" [(ngModel)]=" khachhang.lastName" placeholder="" type="text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label for="diaChi">Địa chỉ <span class="required">*</span></label>
                                    <input name="diaChi" [(ngModel)]="khachhang.diaChi" placeholder="Địa chỉ"
                                        type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label for="email">Email <span class="required">*</span></label>
                                    <input name="email" [(ngModel)]="khachhang.email" placeholder="" type="email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label for="soDienThoai">Số điện thoại <span class="required">*</span></label>
                                    <input name="soDienThoai" [(ngModel)]="khachhang.soDienThoai" type="text">
                                </div>
                            </div>

                        </div>
                        <div class="different-address">
                            <div class="ship-different-title">
                                <h3>
                                    <label>Giao hàng đến địa chỉ khác?</label>
                                    <input name="checkbox" id="ship-box" type="checkbox" [(ngModel)]="isShipBoxChecked">
                                </h3>
                            </div>
                            <div class="row" [hidden]="!isShipBoxChecked">
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Họ đệm <span class="required">*</span></label>
                                        <input placeholder="" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Tên <span class="required">*</span></label>
                                        <input placeholder="" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Địa chỉ <span class="required">*</span></label>
                                        <input placeholder="Địa chỉ" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Email <span class="required">*</span></label>
                                        <input placeholder="" type="email">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Số điện thoại <span class="required">*</span></label>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="order-notes">
                                <div class="checkout-form-list">
                                    <label>Ghi chú đơn hàng</label>
                                    <textarea id="checkout-mess" cols="30" rows="10" [(ngModel)]="hoadonban.ghiChu"
                                        name="ghiChu"
                                        placeholder="Ghi chú về đơn đặt hàng của bạn, ví dụ: ghi chú đặc biệt để giao hàng."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-12">
                <div class="your-order">
                    <h3>Đơn hàng của bạn</h3>
                    <div class="your-order-table table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="cart-product-name">Sản phẩm</th>
                                    <th class="cart-product-total">Tổng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cart_item" *ngFor="let cart of cartItems">
                                    <td class="cart-product-name"> {{ cart.tenSanPham }}<strong
                                            class="product-quantity">
                                            × {{ cart.soLuong }}</strong></td>
                                    <td class="cart-product-total"><span class="amount">{{ calculateSubtotal(cart) |
                                            number }} VNĐ</span></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="cart-subtotal">
                                    <th>Tổng phụ</th>
                                    <td><span class="amount">{{ totalPrice | number }} VNĐ</span></td>
                                </tr>
                                <tr class="order-total">
                                    <th>Tổng tiền đơn hàng</th>
                                    <td><strong><span class="amount">{{ totalPrice | number }} VNĐ</span></strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment-method">
                        <div class="payment-accordion">
                            <div id="accordion">
                                <!-- <div class="card">
                                    <div class="card-header" id="#payment-3">
                                        <h5 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                PayPal
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Make your payment directly into our bank account. Please use your Order
                                                ID as the payment reference. Your order won’t be shipped until the funds
                                                have cleared in our account.</p>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="order-button-payment">
                                <input (click)="onsSubmit()" value="Đặt hàng" type="submit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>